# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
main
svc

# Test binary, built with `go test -c`
*.test
coverage.txt
**/data/**

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Other unwanted files
.DS_Store